.project-section {
  /* margin-top: var(--section-margin); */
  padding-top: var(--top-section-padding);
  padding-bottom: var(--bottom-section-padding);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.project-whole-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: var(--horiz-width);
}

.project-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.project-titles h2 {
  margin: 0.25rem 0rem;
  font-size: var(--font-xl);
  color: var(--color-grey);
  width: fit-content;
  padding: 0.12rem 0.8rem;
  border-radius: 0.25rem;
  background-color: var(--color-brand);
}

.project-titles p {
  margin: 0rem;
  font-size: var(--font-md);
  color: var(--color-dark);
}

.project-card {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  padding: 0%;
  flex-wrap: wrap;
  width: 100%;
}

.project-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-brand);
  color: var(--color-grey);
  border-radius: 1rem;
  padding: 0.8rem;
  flex: 1;
  width: 100%;
  /* min-width: 100%;
  max-width: 220px; */
  gap: 0.8rem;
}

@media (max-width: 768px) {
  .project-card {
    display: flex;
    justify-content: flex-start;
    gap: 1.6rem;
    padding: 0%;
    flex-wrap: wrap;
    width: 100%;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-brand);
    color: var(--color-grey);
    border-radius: 1rem;
    padding: 0.8rem;
    flex: 1;
    width: 100%;
    /* min-width: 220px; */
    max-width: 146px;
    gap: 0.8rem;
  }
}

.project-container img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 0.8rem;
}

.project-container h3,
.project-container p {
  margin: 0.1rem;
}

.project-container p {
  color: var(--color-grey-optional);
  font-size: var(--font-md);
}

.project-container button {
  font-size: var(--font-md);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  flex: 1;
}

.project-btns {
  display: flex;
  gap: 0.8rem;
  width: 100%;
  display: flex;
  height: fit-content;
  /* flex-wrap: wrap; */
}

.github-btn {
  color: var(--color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  /* background-color: var(--color-grey); */
  /* background-color: none !important; */
  background-color: var(--color-brand-hover);
  border: 1.4px solid var(--color-brand-hover);
}

.github-btn:hover {
  background-color: var(--color-brand-brand);
  border: none;
  color: var(--color-grey);
  border: 1.4px solid var(--color-grey);
  transition: all 0.4s ease;
}

.demo-btn {
  color: var(--color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  /* background-color: var(--color-light); */
  padding: 1rem;
  /* border: 1.4px solid var(--color-grey); */
  flex-grow: 1;
  background-color: var(--color-brand-secondary);
  /* border: 1.4px solid var(--color-brand-secondary); */
  height: 2.8rem;
  border: none;
  cursor: default;
}

.demo-btn:hover {
  background-color: var(--color-brand-hover);
  transition: all 0.4s ease;
  /* border: 1.4px solid var(--color-grey); */
}

.demo-btn:focus {
  outline: none;
}
