.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 1rem;
  /* margin-top: var(--section-margin); */
  padding-top: var(--top-section-padding);
  padding-bottom: var(--bottom-section-padding);
}

.about-container {
  /* width: 56%; */
  width: var(--horiz-width);
}

.about-info-container {
  flex: 1;
}

.about-info-container > p {
  font-size: var(--font-semi-md);
  color: var(--color-dark);
}

.about-boxes-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.6rem;
  flex: 1;
}

.about-titles h2 {
  margin: 0.25rem 0rem;
  font-size: var(--font-xl);
  color: var(--color-grey);
  width: fit-content;
  padding: 0.12rem 0.8rem;
  border-radius: 0.25rem;
  background-color: var(--color-brand);
}

.about-titles p {
  margin: 0rem;
  font-size: var(--font-md);
  color: var(--color-dark);
}

.about-edu-boxes,
.about-dom-boxes {
  background-color: var(--color-brand);
  color: var(--color-grey);
  padding: 1.4rem 2rem;
  border: none;
  border-radius: 0.5rem;
  flex: 1;
  width: 100%;
  min-width: 200px;
  transition: all 0.5s ease;
}

.about-edu-boxes:hover,
.about-dom-boxes:hover {
  transform: scale(1.05);
  background-color: var(--color-brand-secondary);
}

.about-edu-boxes p,
.about-dom-boxes p {
  margin: 0.7rem 0rem;
  font-size: var(--font-md);
}

.about-edu-boxes h3,
.about-dom-boxes h3 {
  margin: 0.6rem 0rem;
  font-size: var(--font-lg);
}
