.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}

.nested-nav-div {
  display: flex;
  gap: 10px;
  background-color: var(--color-white-main);
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 4rem;
  transition: all 0.5s ease;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  width: 2rem;
  height: 2rem;
  color: var(--color-dark);
  /* background-color: var(--color-dark); */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.nav-btn:hover {
  /* border: red; */
  color: var(--color-brand);
  /* background-color: red; */
}

.nav-btn.active {
  background-color: var(--color-brand);
  transition: 0.2s ease-out;
  color: var(--color-grey);
}

.btns-toggle {
  position: fixed;
  border: none;
  display: flex;
  gap: 0.25rem;
  padding: 0.6rem;
  border-radius: 4rem;
  background-color: var(--color-white-main);
  justify-content: flex-end;
  bottom: 1rem;
  right: calc(1rem + var(--horizontal-body-padding));
  transition: all 0.2s ease;
  /* here 1 rem is the margin for button and horizontal-body-padding (14 rem) is the body padding from right */
}

@media (max-width: 768px) {
  .btns-toggle {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.6rem;
    border-radius: 4rem;
    background-color: var(--color-white-main);
    justify-content: flex-end;
    top: 2rem;
    right: 1rem;
    bottom: auto;
    /* transform: rotate(90deg); */
    transition: all 0.2s ease;
  }
}
/* 
//changed here
//checkpoint */
.btn-toggle {
  padding: 0.6rem;
  font-size: 1rem;
  border: none;
  background-color: var(--color-white-main);
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

.btn-toggle:focus {
  outline: none;
}

.btn-toggle.light-active {
  background-color: var(--color-dark);
  background-color: #cfcf7b;
  border: none;
}

.btn-toggle.light-active:hover {
  background-color: #adad58;
  border: none;
}

.btn-toggle.light-active:focus {
  outline: none;
}

.btn-toggle.dark-active {
  background-color: var(--color-dark);
  background-color: #cfcf7b;
  border: none;
}

.btn-toggle.dark-active:hover {
  background-color: #adad58;
  border: none;
}

.btn-toggle.dark-active:focus {
  outline: none;
}
