.skill-section {
  /* margin-top: var(--section-margin); */
  padding-top: var(--top-section-padding);
  padding-bottom: var(--bottom-section-padding);
  display: flex;
  justify-content: center;
}

.whole-skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--horiz-width);
}

.skill-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.skill-titles h2 {
  margin: 0.25rem 0rem;
  font-size: var(--font-xl);
  color: var(--color-grey);
  width: fit-content;
  padding: 0.12rem 0.8rem;
  border-radius: 0.25rem;
  background-color: var(--color-brand);
}

.skill-titles p {
  margin: 0rem;
  font-size: var(--font-md);
  color: var(--color-dark);
}

.skill-cards {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;
  width: 100%;
}

.primary-card,
.secondary-card {
  background-color: var(--color-brand);
  color: var(--color-grey);
  padding: 0.4rem 2rem 0.8rem 2rem;
  min-width: 200px;
  border-radius: 1rem;
  flex: 1;
}

.skill-topic {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.skill-topic h4,
.skill-topic p {
  /* margin-bottom: 0.1rem; */
  margin: 0.1rem;
}

.skill-topic p {
  color: var(--color-grey-optional);
  font-size: var(--font-md);
}

.skill-info {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 2.5rem;
}
