footer {
  margin-top: var(--section-margin);
  height: 300px;
  width: 100%;
  background-color: var(--color-brand);
  color: var(--color-grey);
  display: flex;
  justify-content: center;
}

.footer-whole-container {
  width: var(--horiz-width);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem 4rem 0rem;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .footer-whole-container {
    box-sizing: border-box;
    padding: 2rem 0rem 4rem 0rem;
  }

  .footer-links {
    gap: 1.5rem !important;
    margin: 0;
  }
}

.footer-whole-container p {
  margin: 0px;
  flex: 1;
}

.footer-whole-container h2 {
  flex: 1;
  margin: 0rem auto -2rem auto;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-links:hover {
  color: var(--color-brand);
  cursor: pointer;
}

.link-footer {
  text-decoration: none;
  color: var(--color-grey);
}

.link-footer:hover {
  text-decoration: underline;
  color: var(--color-grey);
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--color-grey);
}
